<h1>All the Mousaillards in the world</h1>

<h1>Mousaillards</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Bio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mousaillards.each do |m| %>
      <tr>
        <td><%= m.username%></td>
        <td><%= m.email %></td>
        <td><%= m.bio %></td>
        <td><%= link_to 'Profile Page', m %></td>
        <td><%= link_to 'Destroy', m, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button>
<%= link_to 'Sign Up new Mousaillard', new_mousaillard_path %></button>

