<% provide(:title, @event.name) %>


<div class="container">
    <h1>Event information</h1> </br>
    <h2><strong>Creator:</strong> <%= @event.creator.name.capitalize %></h2>
    <div class="row">
      <div class="col-sm-3">
        <strong> Event name:</strong> <%= @event.name %>
      </div>
      <div class="col-sm-3">
       <strong>Date:</strong> <%= @event.date.strftime("%d/%m/%Y ") unless @event.date.nil? %> 
      </div>
      <div class="col-sm-3">
       <strong>Description:</strong> <%= @event.description %>
      </div>
      <div class="col-sm-3">
       <strong>Place:</strong> <%= @event.place %>
      </div>
  </div>
</div>
</br>

<div class="center">
          <% if @event.user_attendees.include?(current_user) %>
            <h2 class="btn btn-info"> You are attending to this event </h2>
        <% else %>  
            <td> <%= button_to 'Attend', attend_event_path(@event), method: :post, confirm: 'really?',  class: "btn btn-lg btn-primary" %> </td>  
        <% end %>

        <% if @event.creator == current_user %>
            <h2 class="btn btn-warning"> You are the creator of this event </h2>
        <% end %>

</div> </br> </br>

<div>
      <h1>
        Attending users
      </h1>
<table class="table table-striped table-hover">
    <tbody>
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <% @event.user_attendees.each do |u|%>
    <tr>
        <td> <%= u.name %> </td>
        <td> <%= u.email %> </td>
    </tr>
    <% end %>
    </tbody>
</table>
</div>


<div>
      <h1>
        Add a friend
      </h1>

<table class="table table-striped table-hover">
    <tbody>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
    </tr>
    <% @users.each do |u|%>
      <% if !(@event.user_attendees.include?(u)) %>
      <tr>
          <td> <%= u.name %> </td>
          <td> <%= u.email %> </td>
          <td> <%= button_to 'Invite', invite_event_path(@event), method: :post, confirm: 'really?',  class: "btn btn-lg btn-warning", :params => {:user => u} %> </td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
</table>
</div>