<h1>All the gossips there is!</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Creation date</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gossips.each do |g| %>
      <tr>
        <td><%= g.content%></td>
        <td><%= g.updated_at %></td>
        <td><%= g.author %></td>
        <td><%= link_to 'Gossip page', g %></td>
        <td><%= link_to 'Destroy', g, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

