<h1>Articles Tagged with <%= @tag.name %></h1>

<ul>
	<p> List of articles linked to this tag </p>
  <% @tag.articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
    <%= link_to "delete", tag_path(@tag), method: :delete, data: {confirm: "Really delete the tag?"} %>
</ul>
<%= link_to "<< Back to Articles List", articles_path %>
<%= link_to "<< Back to Tag List", tags_path %>